<!DOCTYPE html>
<html>
<head>
  <title><%= page_title_helper %></title>
  <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,200,400,700' rel='stylesheet" unless Rails.env.test? %>
  <%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet" unless Rails.env.test? %>
  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" %>
  <%= favicon_link_tag %>
  <%= load_stylesheets %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/navbar" %>

<div class="navbar--body-container">
  <%= yield %>
</div>

</body>
</html>
